/********* Colors ********/

:root {
  --black-brand: #26292c;
  --grey-color: rgb(241, 239, 239);
  --strong-grey: rgb(160, 159, 159);
  --green-color: #43c35e;
}

/********* General ********/

* {
  box-sizing: border-box;
    /** Typography**/
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.isHidden {
  display: none;
}

.isShown {
  display: block;
}
