
.PersonContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px 20px;
    border: 1px solid var(--strong-grey);
    position: relative;
}

.personal_data p {
    margin: 0;
    font-weight: 700;
}

.personal_data p:last-child {
    font-size: .9rem;
    color: var(--strong-grey);
}

.profile_pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.company::before {
    content: " ";
    height: 15px;
    width: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2.5px;
    background-image: url("../../../assets/company.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.personMask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}