.mainNav {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    background-color: var(--grey-color);
  }
  
  .mainNav li {
    flex-basis: 50%;
    text-align: center;
  }
  
  .mainNav li:first-child {
    border-right: 1px dotted var(--black-brand);
  }

  .mainNav a {
    display: block;
    padding: 15px 10px;
    font-weight: 700;
    color: #000;
  }