.ListContainer {
    padding: 25px 20px;
}

@media (min-width: 768px) {
    .ListContainer {
        width: 80%;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    .ListContainer {
        width: 70%;
    }
}